
<div class="body">
<div class="main">
	<div class="icon-menu">
		Menu
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="pull-right"><span>Create</span> and Share Stories</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="about" class="pull-right">Learn More</a>
			</div>
		</div>
	</div>
</div>

<div class="supporting">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Relive and Share your adventures</h1>
				<p>Stories automatically creates a digital journal filled with only your best photos.</p>
			</div>
		</div>
	</div>
</div>

<div class="secondary">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
			</div>
		</div>
	</div>
</div>

<div class="tertiary">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Discover Stories</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<a href="about">Learn More</a>
			</div>
		</div>
	</div>
</div>



